@charset "UTF-8";
/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
/* 使用@each 產出css size設定 */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* 使用@each 產出css spacer設定 */
/* margin, padding*/
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mx-3 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mx-4 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mx-5 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mx-6 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mx-7 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mx-8 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.px-3 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.px-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.px-6 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.px-7 {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-panel, .card-list-panel {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #f8f7fc;
  color: #18253d;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

/*Chrome, Safari*/
.scrollbar {
  padding-left: 6px;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* @mixin */
/* % */
form .form-row textarea, form .form-row select, form .form-row input {
  border: 1px solid #a7aaaf;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}
form .form-row textarea:hover, form .form-row select:hover, form .form-row input:hover, form .form-row textarea:focus, form .form-row select:focus, form .form-row input:focus {
  border-color: #4a4a4a;
}

/* style start */
#main-app {
  height: 100%;
}

/* Navbar */
nav {
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 16px 0;
  background-color: #001935;
  z-index: 100;
}
nav a {
  display: block;
  color: #fff;
}
nav .menu a {
  margin-bottom: 10px;
}
nav i {
  font-size: 26px;
}

/* main-content */
#main-content {
  margin-left: 60px;
  display: flex;
  height: 100%;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right-content .container {
  width: 80%;
  margin: 0 auto;
}

/* Card */
.card-list-panel {
  flex: 0 0 250px;
  z-index: 20;
  height: 100%;
  overflow-y: scroll;
}
.card-list-panel .card {
  width: 200px;
  margin-top: 16px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
  font-size: 14px;
  cursor: pointer;
  opacity: 0.5;
}
.card-list-panel .card:hover, .card-list-panel .card.active {
  opacity: 1;
}
.card-list-panel .card.active {
  border-color: #a7aaaf;
}
.card-list-panel .card .flex-row {
  display: flex;
  align-items: center;
}
.card-list-panel .card i {
  width: 20px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}
.card-list-panel .card i.fa-youtube {
  color: #f11502;
}
.card-list-panel .card i.fa-facebook-square {
  color: #4177f2;
}
.card-list-panel .card i.fa-instagram {
  color: #5b30da;
}
.card-list-panel .card i.fa-facebook-square, .card-list-panel .card i.fa-instagram {
  font-size: 18px;
}

/* Steppers */
.stepper-panel {
  height: 120px;
}
.stepper-panel .stepper-container {
  display: flex;
  /* .right-content .container */
  padding-top: 40px;
}

.step {
  /* Divide space equally */
  position: relative;
  flex: 1;
  text-align: center;
  line-height: 24px;
}
.step:nth-child(1) .circle-container::after {
  content: "1";
}
.step:nth-child(2) .circle-container::after {
  content: "2";
}
.step:nth-child(3) .circle-container::after {
  content: "3";
}
.step.checked .circle-container, .step.active .circle-container {
  background-color: #02b8ff;
  color: #18253d;
}
.step.checked .label-container, .step.active .label-container {
  color: #18253d;
}
.step.checked .circle-container::after {
  content: "✔";
}
.step .circle-container {
  height: 24px;
  width: 24px;
  background-color: #a7aaaf;
  border-radius: 50%;
  color: #4a4a4a;
  margin: 0 auto;
}
.step .connect-line {
  display: block;
  position: absolute;
  top: 12px;
  right: calc(50% + 20px);
  left: calc(-50% + 20px);
  height: 1px;
  background-color: #a7aaaf;
}
.step .label-container {
  margin-top: 10px;
  color: #a7aaaf;
}

/* Form*/
.form-panel {
  background-color: #fff;
  padding: 32px 0;
  /* occupy remaining spaces */
  flex: 1;
  overflow-y: scroll;
  /* replaced by .right-content .container */
  /*
  .form-container {
    width: 80%;
    margin: 0 auto;
  }
  */
}
.form-panel .terms-panel {
  max-height: 300px;
  padding: 16px;
  border: 1px solid #a7aaaf;
  border-radius: 5px;
  overflow-y: scroll;
}
.form-panel .form-container {
  height: 100%;
}
.form-panel .form-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-panel .form-container form .form-content {
  flex: 1;
}

form .form-row {
  margin-bottom: 24px;
  /* select the first decendant label in the form-row */
}
form .form-row > label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}
form .form-row input[type=checkbox], form .form-row input[type=redio] {
  cursor: pointer;
  /*select the label that have same parent*/
}
form .form-row input[type=checkbox] ~ label, form .form-row input[type=redio] ~ label {
  display: inline-block;
  font-weight: normal;
  margin: 0;
}
form .form-row input[type=checkbox] {
  position: relative;
  /*Chrome Safari */
  /*Cancel all default css setting*/
  -webkit-appearance: none;
  border-radius: 3px;
}
form .form-row input[type=checkbox]:checked {
  background-color: #3c88fd;
}
form .form-row input[type=checkbox]:checked::after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 12px;
  color: white;
}
form .form-row input[type=checkbox]:focus {
  border-color: #a7aaaf;
}
form .form-row input[type=checkbox]:hover {
  border-color: #4a4a4a;
}
form .form-row input[type=radio] {
  -webkit-appearance: none;
  border-radius: 50%;
}
form .form-row input[type=radio]:checked {
  box-shadow: inset 0 0 0 5px #3c88fd;
}
form .form-row input[type=radio] ~ label {
  margin-right: 20px;
}
form .form-row input[type=date] {
  cursor: pointer;
}
form .form-row input[type=date]:invalid {
  color: #747474;
}
form .form-row input[type=number] {
  width: 60px;
}
form .form-row select {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: transparent;
  padding-right: 5px;
  width: 100%;
}
form .form-row select:invalid {
  color: #747474;
}
form .form-row .select-wrapper {
  position: relative;
  width: 25%;
  z-index: 0;
}
form .form-row .select-wrapper::after {
  /* CSS Entity */
  /* content: "\25BE"; */
  content: "";
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #a7aaaf transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: -1;
}
form .form-row textarea {
  resize: none;
  overflow-y: scroll;
}
form .btn {
  font-size: 16px;
  border-radius: 5px;
  height: 32px;
  padding: 0 16px;
  box-shadow: 1px 1px 5px #a6a6a6;
}
form .btn.btn-primary {
  color: #fff;
  background-color: #3c88fd;
}
form .btn.btn-outline {
  color: #4a4a4a;
}
form .btn:hover {
  box-shadow: 1px 1px 5px #4a4a4a;
}
form .btn[disabled] {
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
